{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    University of Michigan
{% endblock %}

{% block content %}
<p>As a participant in this research, you will be asked to complete the attached online survey, which contains a short questionnaire. You may also be asked to make some choices.</p>
<p>You will complete this survey at home, on your own computer.</p>
<p>Although this research has no direct benefits for you, the findings from it may benefit scientific knowledge.</p>
<p>This study presents minimal risk to you. In the event of an unanticipated breach of confidentiality, you would be exposed to a loss of privacy; however, we are taking measures to minimize such a risk. Your responses will be kept as confidential as possible and all data will be stored on password protected computers and on encrypted hard drives.</p>
<p>Your responses will be retained indefinitely. Your name and other identifying information will not be used in any publications of this research.</p>
<p>If you agree to participate in this study, click "I agree" to enter the survey.</p>
    {% next_button %}
{% endblock %}


