{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Congratulations on completing the second part!
{% endblock %}

{% block content %}
<p>In the next part of the experiment, we are going to have you make a very different kind of decision, also using choice lists.</p>
<p>Instead of making actual decision about money paid out at various points in time (as in Part 1 and Part 2) we will have you make hypothetical decisions paid.</p>
<p>For all hypothetical payments in this study, please treat them as if you know you will receive them with certainty. That is, please assume there is no risk that you wouldn’t actually get paid. Further, assume all payments were made by leaving a check in your mailbox which you can cash at the specified date.</p>
    {% next_button %}
{% endblock %}


